format = """
$username\
$hostname\
$directory\
$shlvl\
${custom.kakoune}\
$status
$character
"""

add_newline = false

[username]
format = "[$user]($style) "

[hostname]
format = "[$hostname]($style) "

[character]
{{- if eq .theme "gruvy-dark" }}
success_symbol = "[❯](bold #689d6a)"
error_symbol = "[❯](bold #689d6a)"
# error_symbol = "[❯](bold #fb4934)"
{{- else if eq .theme "gruvy-light" }}
success_symbol = "[❯](bold #689d6a)"
error_symbol = "[❯](bold #689d6a)"
# error_symbol = "[❯](bold #fb4934)"
{{- else }}
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold green)"
# error_symbol = "[❯](bold red)"
{{- end }}

[directory]
{{- if eq .theme "gruvy-dark" }}
style = "bold #83a598"
{{- else if eq .theme "gruvy-light" }}
style = "bold #076678"
{{- else }}
style = "bold blue"
{{- end }}
truncation_length = 2

[directory.substitutions]
"~" = "{{ .username }}"

[shlvl]
disabled = false
format = "[^](bold fg:#b57614)"
{{ if eq .location "home" -}}
threshold = 3
{{- else if eq .location "work" }}
threshold = 4
{{- end }}

[custom.kakoune]
command = """ echo "$KAKOUNE_CLIENT@$KAKOUNE_SESSION" """
when = 'test $KAKOUNE_SESSION'
shell = ['sh']
{{- if eq .theme "gruvy-dark" }}
style = "fg:#fabd2f"
{{- else if eq .theme "gruvy-light" }}
style = "bold fg:#8f3f71"
{{- else }}
style = "cyan"
{{- end }}
format = '[$symbol $output]($style)'
