format = """
$username\
$hostname\
$directory\
$git_status\
$git_branch\
$git_commit\
$git_state\
$shlvl\
$status
$character
"""

add_newline = false

[username]
format = "[$user]($style) "

[hostname]
format = "[$hostname]($style) "

[character]
{{- if eq .theme "gruvy-dark" }}
success_symbol = "[❯](bold #689d6a)"
error_symbol = "[❯](bold #689d6a)"
# error_symbol = "[❯](bold #fb4934)"
{{- else if eq .theme "gruvy-light" }}
success_symbol = "[❯](bold #689d6a)"
error_symbol = "[❯](bold #689d6a)"
# error_symbol = "[❯](bold #fb4934)"
{{- else }}
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold green)"
# error_symbol = "[❯](bold red)"
{{- end }}

[git_status]
{{- if eq .theme "gruvy-dark" }}
format = '([$all_status$ahead_behind ](bold fg:#d3869b))'
{{- else if eq .theme "gruvy-light" }}
format = '([$all_status$ahead_behind ](bold fg:#8f3f71))'
{{- else }}
format = '([$all_status$ahead_behind ](bold magenta))'
{{- end }}
ahead = ">"
behind = "<"
conflicted = "/"
deleted = "x"
diverged = "~"
modified = "!"
renamed = "»"
staged = "+"
# stashed = "$"
untracked = "?"

[git_branch]
{{- if eq .theme "gruvy-dark" }}
format = "[$branch](bold fg:#8ec07c) "
{{- else if eq .theme "gruvy-light" }}
format = "[$branch](bold fg:#427b58) "
{{- else }}
format = "[$branch](bold cyan) "
{{- end }}

[directory]
{{- if eq .theme "gruvy-dark" }}
style = "bold #83a598"
{{- else if eq .theme "gruvy-light" }}
style = "bold #076678"
{{- else }}
style = "bold blue"
{{- end }}
truncation_length = 2

[directory.substitutions]
"~" = "{{ .username }}"

[shlvl]
disabled = false
format = "[^](bold fg:#b57614)"
threshold = 4
