# FIXME: Hvordan få denne til å kjenne til $TMUX?

[Unit]
Description=%i@kakoune

[Service]
Type=simple
ExecStart=%h/.local/bin/kak -s %i -d

[Install]
WantedBy=default.target
